body {
  background-color: black;
  color:white;
}

.hash-title, .gen-title {
  color:white;
  font-family: monospace
}

.input, .password-input {
  width:80%;
  height:40px;
  font-size: 25px;
  font-style: italic;
  border: 4px solid cyan;
  background: black;
  color:cyan;
  text-align: center;
  font-family: sans-serif;
  transition: .9s
}

.input:hover {
  color:red;
  border-color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hash-btn, .generate-btn {
  font-size: 25px;
  border: 3px outset cyan;
  background: black;
  color:cyan;
  font-weight: bolder;
  transition: .5s;
}

.generate-btn {
  margin: 30px;
}

.hash-btn:hover {
  font-size: 35px;
  border:3px inset red;
  color:red;
}

label {
  color:cyan;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  font-family: serif;
  margin: 10px;
}

.lower-check, .upper-check, .number-check, .symbol-check {
  width:25px;
  height:25px;
}

.hash-result, .generate-result {
  opacity: 0;
  border: 4px solid cyan;
  border-top-color: transparent;
  border-radius: 50%;
  width:80px;
  height:80px;
  font-size: 28px;
  font-weight: bold;
  overflow-x: auto;
  white-space: wrap;
  animation: none;/*spin 1.4s linear infinite;*/
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}